*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: camp(18px,3vw,24px);
    font-family:'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5, h6 {
  font-family: 'Source Sans Pro', sans-serif';
}
.body-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 2rem;
}

.site-title {
    font-size: 25px;
}

nav ul {
    padding-left: 0;
    list-style: none;
    background-color: lightpink;
}

nav a {
    display: block;
    padding: 0.5em 2em;

    font-size: 20px;
    text-decoration: none;
    text-align: center;

    color: white;
}

footer {
background-color:skyblue;
border-top: 1px soild #aaa;
margin: 0;
}

footer p {
    margin: 0;
    padding: 2rem;
    text-align: center;
  }